html {
  font-family: 'Dosis', 'Lato', sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  background: white;
}

p, h1, h2, h3, h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.main {
  max-width: 374px;
  padding: 1.5rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.header .header__nav {
  display: none;
}

.header .burger__btn {
  background-color: #fff;
  border: none;
}

.header .desktop__btn {
  display: none;
}

.main .line {
  border: 1px solid rgba(190, 190, 190, 0.5);
  max-width: 374px;
  margin-bottom: 1rem;
}

/* header end */

/* hero start */

.hero h1 {
  font-size: 2.125rem;
  line-height: 2.625rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.hero h1 span {
  color: rgba(173, 167, 255, 1);
  font-weight: 600;
}

.hero .discription {
  font-size: 0.75rem;
  line-height: 1rem;
  max-width: 360px;
  margin-bottom: 2.25rem;
}

.hero .buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 2.25rem;
}

.hero .btn__cta {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 36px;

  background-color: rgba(173, 167, 255, 1);
  border: none;
  border-radius: 999px;

  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.hero .btn__secondary {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;

  background-color: white;
  border: none;

  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: rgba(173, 167, 255, 1);
}

.hero .bullits {
  display: flex;
  gap: 30px;
  margin-bottom: 3.75rem;
}

.hero h2 {
  font-size: 1.875rem;
  line-height: 2.375rem;
  font-weight: 650;
  color: rgba(48, 43, 58, 1);
}

.hero .blt__discription {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: rgba(104, 104, 104, 1);
}

.hero .images {
  display: block;
  position: relative;
}

.hero .images .wrap__images__up {
  display: flex;
  justify-content: space-between;
}

.hero .images .wrap__images__down {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: -70px;
}

.hero .images .dog__print, .hero .images .cat__print {
  height: 2.25rem;
  width: 2.25rem;
}

.hero .images .background__item__01, .hero .images .background__item__02 {
  height: 13rem;
  width: 13.625rem;
}

.hero .images .dog__sitting {
  position: absolute;
  height: 13rem;
  top: 10px;
  right: 0;
}

.hero .images .cat__lying {
  position: absolute;
  height: 17rem;
  bottom: -40px;
}

/* hero end */


/* mobile header start */

@media screen and (min-width: 769px) {
  .main {
    max-width: 1440px;
    padding: 3.125rem 8.375rem 5.625rem 8.375rem;
  }

  .header {
    margin-bottom: 7rem;
  }

  .header .logo__icon img {
    width: 56px;
    height: 50px;
  }

  .header .header__nav {
    display: block;
  }

  .header .header__nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 1.5rem;

    font-size: 1.125rem;
    line-height: 1.375;
    font-weight: 600;
  }

  .header .header__nav ul li:first-child {
    color: rgba(154, 147, 255, 1);
  }

  .header .burger__btn {
    display: none;
  }

  .header .desktop__btn {
    display: block;
    border: none;
    background-color: rgba(173, 167, 255, 1);
    border-radius: 999px;
    padding: 1rem 2rem 1rem 2rem;

    font-size: 1.125rem;
    line-height: 1.375;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }

  .line {
    display: none;
  }

  /* mobile header end */

  /* mobile hero start */

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .hero h1 {
    font-size: 4.375rem;
    line-height: 5.5rem;
    margin-bottom: 1.5rem;
  }

  .hero .discription {
    font-size: 1.125rem;
    line-height: 1.6rem;
    max-width: 625px;
    margin-bottom: 3.75rem;
  }

  .hero .buttons {
    gap: 30px;
    margin-bottom: 3.75rem;
  }

  .hero .btn__cta {
    padding-left: 2rem;
    padding-right: 1rem;
    height: 56px;

    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .hero .btn__cta img {
    height: 56px;
  }

  .hero .btn__secondary {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .hero .btn__secondary img {
    height: 56px;
  }

  .hero .bullits {
    gap: 66px;
    margin-bottom: 0;
  }

  .hero h2 {
    font-size: 2.75rem;
    line-height: 3.5rem;
  }

  .hero .blt__discription {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .hero .images {
    position: absolute;
    width: 566px;
    right: 0;
    top: -30px;
  }

  .hero .images .wrap__images__down {
    margin-top: -120px;
  }


  .hero .images .dog__print, .hero .images .cat__print {
    height: 3.75rem;
    width: 3.75rem;
  }

  .hero .images .background__item__01, .hero .images .background__item__02 {
    height: 22.625rem;
    width: 21.625rem;
  }

  .hero .images .dog__sitting {
    height: 21.5rem;
  }

  .hero .images .cat__lying {
    height: 28.5rem;
    bottom: -70px;
  }
};