html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 1);
}

.page_container {
  width: 1920px;
  margin: 0 auto;
  background-color: black;
}

/* main style start */

.main {
  position: relative;
  height: 1573px;
  background: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%),url(../assets/images/hero-bg.png);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 58px 84px 0;
  align-items: center;
}

.logo a {
  text-decoration: none;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.nav {
  display: flex;
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  font-size: 1.125em;
  line-height: 1.5em;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.nav li:not(:last-child) {
  margin-right: 50px;
}

.search__container {
  line-height: 1.5em;
  font-weight: 400;
}

.search__container img {
  margin-right: 18px;
}

.title {
  margin-top: 196px;
  margin-left: 500px;
}

.subtitle {
  display: flex;
  align-items: center;
  font-size: 1.125;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: rgba(255, 193, 120, 1);
  margin-bottom: 32px;
}

.subtitle__decor {
  height: 2px;
  width: 72px;
  background: rgba(255, 193, 120, 1);
  margin-right: 32px;
}

.title__head {
  font-size: 6em;
  font-weight: 700;
  line-height: 100px;
}

.title__head span {
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 100px;
}

.arrow__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 126px;
  gap: 9px;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 24px;
}

.social__container {
  position: absolute;
  top: 360px;
  left: 80px;
  writing-mode: vertical-lr;
  display: flex;
  gap: 22px;
  font-size: 1.125em;
  line-height: 24px;
  font-weight: 600;
}

.social__icon {
  display: flex;
  align-items: center;
}

.social__icon a:not(:last-child){
  margin-bottom: 26px;
}

/* main style end */

/* cards style start */

.cards__container {
  position: relative;
  top: -900px;
  margin-bottom: -900px;
}


.first__card {
  margin-top: 730px;
  margin-left: 230px;
  display: flex;
  align-items: center;
}

.card__content {
  margin-left: 232px ;
}

.first__card .subtitle__decor {
  margin-right: 24px;
}

.first__card .subtitle {
  margin-bottom: 28px;
}

.card__title {
  font-size: 4em;
  line-height: 5.5rem;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

.card__description {
  width: 580px;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 2em;
  margin-top: 28px;
}

.card__more {
  margin-top: 28px;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.5em;
  color: rgba(251, 215, 132, 1);
}

.card__more img {
  margin-left: 8px;
}

.second__card {
  margin-top: 250px;
  text-align: center;
  position: relative;
}

.second__card .card__content {
  display: inline-block;
  text-align: center;
  margin-left: 0;
  position: absolute;
  top: 544px;
  left: 494px;
}

.second__card .subtitle {
  display: flex;
  justify-content: center;
}

.second__card .subtitle__decor:first-child {
  margin-right: 24px;
}

.second__card .subtitle__decor:last-child {
  margin-left: 24px;
}

.second__card .subtitle {
  margin-bottom: 24px;
}

.second__card .card__description {
  width: 870px;
}

.third__card {
  display: flex;
  align-items: center;
  margin-top: 226px;
}

.third__card .card__content {
  margin-right: 210px;
  margin-left: 270px;
}

.third__card .card__description {
  width: 600px;
  font-weight: 400;
}

/* cards style end */

/* footer style start */

.footer {
  position: relative;
}

.footer__name {
  display: flex;
  justify-content: space-between;
  margin: 250px 230px 56px 232px;
}

.footer__name {
  font-size: 3em;
  font-weight: 700;
  line-height: 4.125rem;
}

.footer__name__wrap span {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.footer__name__wrap .btn {
  background-color: rgba(255, 163, 67, 1);
  width: 240px;
  height: 70px;
  border-radius: 8px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-left: 56px;
  border: none;
}

.footer__line {
  width: 1460px;
  height: 1.5px;
  background: rgba(255, 255, 255, .3);
  margin-left: 232px;
}

.footer__menu {
  margin: 56px 0 0 232px;
  display: flex;
}

.footer__email__wrap {
  margin-right: 252px;
  font-size: 2.25em;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.3px;
}

.footer__email {
  display: flex;
  margin-top: 50px;
}

.footer__email input {
  background-color: black;
  width: 310px;
  height: 70px;
  outline: none;
  border: none;
  font-size: 1rem;
  opacity: 50%;
  padding-left: 20px;
}

.footer__email .btn {
  background-color: rgba(255, 163, 67, 1);
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 8px 8px 0 0;
  padding-bottom: 12px;
}

.email__line {
  width: 400px;
  height: 1px;
  background: rgba(255, 255, 255, .3);
  margin-top: -3px;
}

.footer__menu__columns {
  display: flex;
  gap: 180px;
}

.footer__menu__column {
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-size: 1.25em;
  font-weight: 700;
  color: rgba(255, 209, 160, 1);
  letter-spacing: -0.2px;
}

.footer__menu__column a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

.policy__social {
  margin: 140px 0 150px 232px;
  display: flex;
  justify-content: space-between;
}

.policy {
  margin-left: 50px;
}

.policy a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.policy a:first-child {
  margin-right: 70px;
}

.social {
  margin-right: 280px;
}

.social a:not(:last-child) {
  margin-right: 60px;
}

.copyright {
  text-align: center;
  font-size: 1.125em;
  line-height: 2em;
  font-weight: 600;
  opacity: 50%;
  padding-bottom: 118px;
}